/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container{
 margin: 0 156px;
}
.search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 370px;
  margin: 0 auto 32px auto;
}
.image-list {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1128px;
} 
.card-footer{
  display: flex;
  max-width: 360px;
  max-height: 200px;
  flex-wrap: wrap;
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid #808080;;
}
.card-footer li a {
  display: block;
  overflow: hidden;
  height: 150px;
}
.image-list li .card-footer .item {
  width: calc((100% - 84px) / 4);
  text-align: center;
}
.card-footer {
 
      display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;
        padding: 4px 15px;
        color: #2e2f42;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.04em;
}
.form-control{
  border-radius: 4px;
    width: 272px;
    height: 40px;
    border: 1px solid #808080;
}
.iform-control:hover {
  border: 1px solid #000;
    border-radius: 4px;
    width: 272px;
    height: 40px;
 }
.form-control::placeholder {
font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
}
.btn-primary {
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
      padding: 8px 16px;
      width: 91px;
      height: 40px;
      background-color:#4e75ff;
      border: none;
}
.btn-sprimary:hover {
  background-color: #6c8cff;;
}

